ul{
    margin: 0px;
    padding: 0px;
    height: 37px;
    line-height: 37px;
    background-color: silver;
    font-family: 'Courier New','Courier','monospace';
    font-size: 15px;
}

li{
    float: left;
    padding: 0px 28px;
}

a{
    color: Red;
    display: block;
    text-decoration: none;
}

a:hover{
    background-color: navy;
}

.home a{
    background-color: yellow;
}